.section4 {
    width: 100vw;
    height: 25vw;
    display: flex;
    justify-content: left;
    padding-left: 2vw;
    align-items: center;
    background-color: $color4;
    div{
        width:12.5vw;
        height: 12.5vw;
        background-color: $color1;
    }
}